@model List<AgendamentoViewModel>
@{
    ViewData["Title"] = "Agendamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agendamentos</h1>
<hr />
<a id="novoAgendamento" asp-controller="Agendamentos" asp-action="NovoAgendamento" class="btn btn-success">Novo Agendamento</a>
@if (Model.Count != 0)
{
    <h3>Exibindo resultados para <span class="text-primary">@Model.FirstOrDefault().Paciente.UserName</span></h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID único</th>
                <th scope="col">Médico</th>
                <th scope="col">Especialidade</th>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agend in Model)
            {
                <tr>
                    <th scope="row">@agend.Id</th>
                    <td>@agend.Medico.Nome</td>
                    <td>@agend.Medico.Especialidade.Nome</td>
                    <td>@agend.Data</td>
                    <td>@agend.Horario</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Ainda não há agendamentos cadastrados para este usuário.
    </div>
}

<style>
    #novoAgendamento {
        margin-bottom: 1em;
    }
</style>