@model NovaOrdemDeServicoViewModel
@{
    ViewData["Title"] = "Nova Ordem de Serviço";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head {
    <link rel="stylesheet" href="~/css/CriarOrdem.css" />
}

<h2><i class='fas fa-file-contract'></i>&nbsp;&nbsp;Nova OS</h2>
<hr />

<div class="col-md-6">
    <form asp-controller="OrdensDeServico" asp-action="CriarOrdem" method="post">

        @if (Model.VeiculosCadastrados.Count() > 0)
        {
            <fieldset>
                <legend><h4>Selecione um dos veículos já cadastrados</h4></legend>

                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="VeiculoId">Veículos<span class="text-danger">&nbsp;*</span></label>
                        <select id="listaVeiculos" class="form-control" 
                            asp-items="Model.VeiculosCadastrados"
                            asp-for="VeiculoId">

                            <option value="">--- Selecione ---</option>
                        </select>
                        <span asp-validation-for="@Model.VeiculosCadastrados" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset id="cadastrarNovoVeiculo">
                <legend><h4>Ou cadastre um novo veículo</h4></legend>

                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="TipoSelecionado">Tipo<span class="text-danger">&nbsp;*</span></label>
                        <select id="listaTipos" class="form-control" 
                            asp-items="Model.TiposVeiculo"
                            asp-for="TipoSelecionado">

                            <option value="">--- Selecione ---</option>
                        </select>
                        <span asp-validation-for="@Model.TipoSelecionado" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Placa">Placa<span class="text-danger">&nbsp;*</span></label>
                        <input class="form-control" asp-for="Placa" type="text"/>
                        <span asp-validation-for="Placa" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Modelo">Modelo<span class="text-danger">&nbsp;*</span></label>
                        <input asp-for="Modelo" type="text" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        }
        else
        {
            <fieldset>
                <legend><h4>Dados do veículo</h4></legend>

                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="TipoSelecionado">Tipo<span class="text-danger">&nbsp;*</span></label>
                        <select id="listaTipos" class="form-control" 
                            asp-items="Model.TiposVeiculo"
                            asp-for="TipoSelecionado">

                            <option value="">--- Selecione ---</option>
                        </select>
                        <span asp-validation-for="@Model.TipoSelecionado" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Placa">Placa<span class="text-danger">&nbsp;*</span></label>
                        <input class="form-control" asp-for="Placa" type="text"/>
                        <span asp-validation-for="Placa" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Modelo">Modelo<span class="text-danger">&nbsp;*</span></label>
                        <input asp-for="Modelo" type="text" class="form-control" />
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        }


        <fieldset>
            <legend><h4>Detalhes do serviço</h4></legend>

            <div class="col-md-8">
                <div class="form-group">
                    <i class='fas fa-tools'></i>&nbsp;
                    <label asp-for="ServicoId">Serviço<span class="text-danger">&nbsp;*</span></label>
                    <select id="listaServicos" class="form-control" asp-for="ServicoId">
                        <option value="">--- Selecione ---</option>
                    </select>
                    <span asp-validation-for="@Model.ServicoId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <i class='fas fa-dollar-sign'></i>&nbsp;
                    <label asp-for="Valor">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">R$</div>
                        </div>
                        <input readonly type="text" asp-for="Valor" id="valor" class="form-control bg-ligt text-dark font-weight-bold" />
                    </div>
                </div>

                <div class="form-group">
                    <i class='fas fa-calendar-alt'></i>&nbsp;
                    <label asp-for="Data">Data<span class="text-danger">&nbsp;*</span></label>
                    <input type="date" asp-for="Data" class="form-control" />
                    <span asp-validation-for="@Model.Data" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <i class='fas fa-clock'></i>&nbsp;
                    <label asp-for="HorarioId">Horário<span class="text-danger">&nbsp;*</span></label>
                    <select class="form-control"
                            asp-for="HorarioId"
                            asp-items="Model.Horarios">
                        <option value="">--- Selecione um horário ---</option>
                    </select>
                    <span asp-validation-for="@Model.HorarioId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.ExisteConflitoDeHorario" class="text-danger"></span>
                </div>

            </div>

            <button type="submit" class="btn btn-outline-primary"><i class='fas fa-plus'></i>&nbsp;&nbsp;Abrir OS</button>

        </fieldset>

    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/CriarOrdem.js"></script>
}