@model List<OrdemDeServicoViewModel>

@{
    ViewData["Title"] = "Ordens de Serviço";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2><i class='fas fa-list'></i>&nbsp;Ordens de Serviço</h2>
<hr />
<a id="novaOrdemDeServico" asp-controller="OrdensDeServico" asp-action="CriarOrdem" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i>&nbsp; Nova OS</a>

@if (Model.Count != 0)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><i class='fas fa-hashtag'></i>&nbsp;ID</th>
                    <th scope="col"><i class='fas fa-tools'></i>&nbsp;Serviço</th>
                    <th scope="col"><i class='fas fa-dollar-sign'></i>&nbsp;Valor</th>
                    <th scope="col"><i class='fas fa-calendar-alt'></i>&nbsp;Marcado para</th>
                    <th scope="col"><i class='fas fa-cog'></i>&nbsp;Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ordem in Model)
                {
                    if (ordem.Status == Situacao.Aberto)
                    {
                        <tr>
                            <th scope="row">@ordem.Id</th>
                            <td>@ordem.Servico</td>
                            <td>R$ @ordem.Valor</td>
                            <td>@ordem.Data às @ordem.Horario</td>
                            <td>
                                <a data-os-id="@ordem.Id" class="btn btn-outline-danger btn-cancelar" data-toggle="tooltip" data-placement="right" title="Cancelar">
                                    <i class='fas fa-trash'></i>
                                </a>
                            </td>
                        </tr>
                    }

                    else if (ordem.Status == Situacao.Finalizado)
                    {
                        <tr style="background-color: #c4ffe5;">
                            <th scope="row">@ordem.Id</th>
                            <td>@ordem.Servico</td>
                            <td>R$ @ordem.Valor</td>
                            <td>@ordem.Data às @ordem.Horario</td>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="DeixarComentario" asp-controller="Comentarios" asp-route-ordemId="@ordem.Id" data-toggle="tooltip" data-placement="right" title="Avaliar">
                                    <i class='fas fa-comment-dots'></i>
                                </a>
                            </td>
                        </tr>
                    }

                    else if (ordem.Status == Situacao.Avaliado)
                    {
                        <tr style="background-color: #c4ffe5;">
                            <th scope="row">@ordem.Id</th>
                            <td>@ordem.Servico</td>
                            <td>R$ @ordem.Valor</td>
                            <td>@ordem.Data às @ordem.Horario</td>
                            <td><span>Avaliado</span></td>
                        </tr>
                    }

                    else if (ordem.Status == Situacao.Cancelado)
                    {
                        <tr style="background-color: #ffccc4;">
                            <th scope="row">@ordem.Id</th>
                            <td>@ordem.Servico</td>
                            <td>R$ @ordem.Valor</td>
                            <td>@ordem.Data às @ordem.Horario</td>
                            <td>Cancelado</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        Ainda não há ordens de serviço para este usuário.
    </div>
}

<style>
    #novaOrdemDeServico {
        margin-bottom: 1em;
    }
</style>

@section Scripts {
    <script src="~/js/ListarOrdens.js"></script>
}
