@model List<ReservaViewModel>
@{
    ViewData["Title"] = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservas</h1>
<hr />
<a asp-controller="Viagens" asp-action="ListarViagens" id="novaReserva" class="btn btn-success">Nova Reserva</a>

@if (Model.Count != 0)
{
    <div class="list-group">
        @foreach (var reserva in Model)
        {
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-auto justify-content-between">
                    <h5 class="mb-1">Poltrona @reserva.Poltrona.Numero - De @reserva.Poltrona.Viagem.Origem para @reserva.Poltrona.Viagem.Destino</h5>
                    <b>R$ @reserva.Poltrona.Viagem.Preco</b>
                </div>
                <p class="mb-1">Parte em @reserva.DataPartida às @reserva.HorarioPartida</p>
                <small>Duração: @reserva.Poltrona.Viagem.DuracaoEmHoras Horas</small>
            </a>
        }
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        Ainda não há reservas confirmadas para este usuário.
    </div>
}


<style>
    #novaReserva {
        margin-bottom: 1em;
    }
</style>