@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='fas fa-user'></i>&nbsp; @UserManager.GetUserAsync(User).Result.NomeCompleto
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-dark" style="pointer-events: none;"><i class='fa fa-envelope'></i>&nbsp; @UserManager.GetUserAsync(User).Result.Email</a>
                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Identity/Account/Login")"><i class='fas fa-sign-out-alt'></i>&nbsp; Sair</a>
            </div>
        </li>




        @*<li class="nav-item">
                    <a class="nav-link text-light">Usuário: @UserManager.GetUserName(User)</a>
                </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Identity/Account/Login")">
                    <button type="submit" class="nav-link btn btn-outline-info text-light">Sair</button>
                </form>
            </li>*@
    }
    else
    {
        <li class="nav-item nav">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
                <i class='fa fa-sign-in-alt'></i>&nbsp; Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">
                <i class='fa fa-user-plus'></i>&nbsp;Cadastre-se
            </a>
        </li>
    }
</ul>
